/*//color scheme:
brown: hsl(284, 9%, 25%);
red: hsl(3, 64%, 57%);
tan: hsl(39, 26%, 76%);
white: hsl(0, 11%, 96%)
*/


/*reset junk*/

button {
  margin: 0;
  border: none;
}

/*global typography*/

h1, h2, h3, h4, h5, h6, p, ul, li, form, input, label {
  font-family: 'Verdana';
  line-height: 63px;
  text-align: center;
  color: hsl(284, 9%, 25%);
  -webkit-font-smoothing: antialiased;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 36px;
    margin: 0;
    color: hsl(39, 26%, 76%);
    text-shadow: -2px 2px hsla(284,9%,17%,1);
}

li {
  list-style-type: none;
  padding-left: 2em;
  text-align: left;
  letter-spacing: .5px;
  font-size: 18px;
  line-height: 52px;
}

.material-icons {
  color: hsl(284, 9%, 25%);
  text-align: center;
  font-size: 36px;
}

/*standard height*/

.standardHeight {
  height: 4em;
}

.halfHeight {
  height: 3em;
}

.hidden {
  display: none;
}
body {
  background-image: linear-gradient(to bottom, hsl(3, 64%, 57%), hsl(3,64%,58%)), url("/img/noisy-texture-100x100-o5-d10-c-dfe3eb-t1.png");
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;

}
.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 750px;
}
header {
  background-image: linear-gradient( to right, hsl(284, 9%, 20%), hsl(284, 9%, 25%), hsl(284, 9%, 20%) ), url("/img/noisy-texture-100x100-o5-d10-c-dfe3eb-t1.png");
  width: 100% height: 4em;
  margin: 0 auto;
  background-blend-mode: multiply;

}

.toDo {
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 4px hsla(284,9%,20%,1);
}




/*begin form styling*/

input, button {
  /*	display: block;*/
  /*margin: .5em;*/
  padding: .25em;
  border: 1px solid #fff;
  background: none;
}
.addTask {
  width: 100%;
  background: hsl(39, 26%, 76%);
  cursor: pointer;
}

/*styling for the popup form*/

.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .9);
  z-index: 1;
}
.popup form {
  width: 70%;
}
#task, #submit-button {
  background-color: hsl(39, 26%, 76%);
  font-size: 1.2em;
  padding: 0;
  border: none;
  line-height: 55px;
}
#submit-button {
  background-color: hsl(3, 64%, 57%);
  border-radius: 0 8px 8px 0;
  width: 10%;
  margin-left: 0;
}
#submit-button:focus, #task:focus {
  outline: none;
}
#submit-button:hover {
  background-color: hsl(3, 64%, 50%);
}
#task {
  width: 85%;
  border-radius: 8px 0 0 8px;
  margin-right: 0;
  text-align: left;
  padding-left: 1em;
}



/*end styling of popup form*/

header .material-icons {
  color: hsl(3, 64%, 57%);
  margin: 14px 17px;
  float: right;
  font-size: 36px;
  cursor: pointer;
  text-shadow: none;
}

/*styling for main list*/

.marginTop {
  margin-top: 4em;
  border-radius: 8px 8px 0 0;
  box-shadow: inset 0 -3px hsla(284,9%,20%,1);
}
.lineItem {
  line-height: 66px;
  border-bottom: 2px solid #ddd;
  background-color:  hsl(0, 11%, 96%);
}
.task {
  width: 80%;
  margin-right: 0;
  float: left;
}

#tasks h1 {
  padding-left: 2em;
}

.complete, .remove {
  width: 10%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.complete .material-icons:hover {
  color: hsl(158, 49%, 70%);
}
.remove .material-icons:hover {
  color: hsl(3, 64%, 57%);
}

/*///*/

.taskComplete{
  background-color: hsl(158, 48%, 69%);
  border-bottom: 2px solid hsl(284, 9%, 25%);
}
